@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --tipografia-titulos: "Libre Baskerville", serif;
    --tipografia-parrafos: "Red Hat Display", sans-serif;
    --primary-color: #C08261;
    --secondary-color: #E2C799;
    --terciary-color: #F2ECBE;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}


/* ESTILO DEL HEADER */

header{
    width: 100%;
    background: url(../img/Frame\ 1.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 3;
}

header .capa1{
    position: absolute;
    width: 100%;
    height: 92%;
    background: #7c736329;
    z-index: 4;
}

.nav{
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    font-family: var(--tipografia-titulos);
    border: 1px solid #000;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 60px;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
}

.nav ul li a:hover{
    text-decoration: underline;
}

/* IMAGEN INICIO */


header #hero{
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    z-index: 5;
}


.fila .columna1{
    padding-left: 80px;
    padding-top:40px;
    height: 80vh;
    
}

.fila .columna2{
    padding-right: 200px;
    padding-top:200px;
    height: 80vh;
}



header .fila .columna1 .yo{
    width: 350px;
    height: 400px;
    background: url(../img/Rectangle\ 3.png);
    background-size: cover;
    border-radius: 90px 90px 0 0;
    position: relative;
    left: 10px;
}


.fila .columna2 .saludo{
    position: absolute;
    width: 550px;
    height: 150px;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 40px 15px;
    right: 66px;
    top: 190px;
    z-index: 15;
}

.fila .columna2 .saludo h2{
    position: relative;
    font-size: 40px;
    font-family: var(--tipografia-titulos);
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    
}

.columna2 .saludo h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--primary-color);
    border-right: 2px solid var(--primary-color);
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 100%;
    }
}

.fila .columna2 .texto{
    position: absolute;
    top: 320px;
    right: 150px;
    padding: 10px;
    margin-left: 65px;
    width: 380px;
    height: 80px;
    background: var(--primary-color);
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-family: var(--tipografia-parrafos);
    z-index: 20;
} 

.columna2 a.inicio{
    position: absolute;
    text-decoration: none;
    color: #000;
    font-family: var(--tipografia-titulos);
    background: var(--terciary-color);
    padding: 5px 10px;
    top: 420px;
    right: 300px;
    border-radius: 10px;
}

.columna2 a.inicio:hover{
 background: var(--secondary-color);
 color: var(--primary-color);
}


/* ESTILOS MAIN */


/* SECCION SOBRE MI */


#sobreMi{
    position: relative;
    width: 100%;
    background: var(--secondary-color);
    padding-top: 50px;
    padding-bottom: 160px;
    z-index: 999;
}

#sobreMi .fila{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}

#sobreMi .col-mi .fondo{
    position: absolute;
    left: 250px;
    top: 150px;
    width: 400px;
    height: 480px;
    background: var(--primary-color);
}

#sobreMi .col-mi img{
    position: absolute;
    left: 200px;
    top: 100px;
    width: 400px;
    height: 480px;
    z-index: 1100;
    transition: .1s;
}

#sobreMi .col-mi img:hover{
    transform: scale(1.1,1.1);
}

#sobreMi .col-mi.perfil{
    margin-left: 350px;
    width: 380px;
}

#sobreMi .col-mi.perfil h2{
    padding: 0 10px 10px 0px;
    font-size: 35px;
    font-family: var(--tipografia-titulos);
    color: var(--primary-color);
}

#sobreMi .col-mi.perfil p{
    font-size: 18px;
    font-family: var(--tipografia-parrafos);
}

#sobreMi hr{
    border: 1px solid #000;
}

#sobreMi ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}



/* SECCION DE HABILIDADES */

#habilidades{
    background: url(../img/fondo3.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px ;
}

#habilidades h2{
    font-family: var(--tipografia-titulos);
    color: #7D4A2E;
    font-size: 50px;
    padding-bottom: 30px;
    text-shadow: #000000a8 0em 0.1em 0.2em;
}

#habilidades .caja{
    margin: 0 auto;
    background: #AC7355 ;
    border-radius: 10px;
    padding-bottom: 10px;
}

#habilidades .caja .primero{
    font-family: var(--tipografia-titulos);
    color: #fff;
    font-size: 35px;
    text-align: start;
    padding-left: 10px;
}
#habilidades .caja .segundo{
    font-family: var(--tipografia-parrafos);
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    padding-left: 60px;
}

#habilidades .fila{
    padding: 150px 30px 10px 30px;
}

#habilidades .columna{
    text-align: center;
}
#habilidades .items{
    display: flex;
    position: relative;
    height: 310px;
    text-align: center;
    padding: 30px 0 30px 0;
    margin-bottom: 20px;
    margin-right: 20px;
    justify-content: center;
    transition: .1s;
}

#habilidades .items:hover{
    background: var(--primary-color);
}


#habilidades .items .title{
    position: absolute;
    font-family: var(--tipografia-titulos);
    color: #7D4A2E;
    padding: 3px;
    width: 80%;
    height: 40px;
    text-align: center;
    background: var(--secondary-color);
    top: 8px;
    border-radius: 20px;
    border: 3px solid #7D4A2E;

}

#habilidades .items img{
    border: 1px solid #000;
    border-radius: 20px;
}

.slick-arrow{
    width: 50px;
    height: 50px;
    font-size: 1px;
    color: transparent;
    border: none;
}

.slick-prev{
position: absolute;
top: 281px;
left: -16px;
background: url(../img/flecha-atras.png);
background-size: cover;
}

.slick-next{
    position: absolute;
    top: 281px;
    right: -16px;
    background: url(../img/flecha-derecha.png);
    background-size: cover;
    }

/* SECCIÓN PROYECTOS */


#proyectos{
    width: 100%;
    background: var(--primary-color);
    padding: 50px 10px 100px 10px;
    font-family: var(--tipografia-titulos);
    color: var(--terciary-color);
}

#proyectos h2{
    font-size: 40px;
    padding-bottom: 5px;
}

#proyectos .proyecto{
    height: 400px;
    text-align: center;
    padding: 30px;
}

#proyectos .proyecto img{
    width: 100%;
    height: 100%;
}

#proyectos .detalle{
    position: relative;
    height: 400px;
    text-align: left;
    padding: 30px;
    background: #ffffff2c;
    font-family: var(--tipografia-parrafos);
    color: #fff;
    font-size: 20px;
}

#proyectos .detalle h3{
    font-family: var(--tipografia-titulos);
    color: var(--terciary-color);
    padding-bottom: 10px;
    font-size: 35px;
}

#proyectos .detalle a{
    text-decoration: none;
    font-family: var(--tipografia-titulos);
    background: var(--terciary-color);
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    bottom: 35px;
    right: 75px;
    transition: .1s;
}

#proyectos .detalle a:hover{
    background: var(--primary-color);
    border: 2px solid #000;
}


/* SECCION HOBBIES */

#hobbies{
    width: 100%;
    background: url(../img/h\ 2fondopo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    padding: 20px 0 80px 0;
    text-align: center;
}

#hobbies h2{
    font-family: var(--tipografia-titulos);
    color: #fff;
    padding: 40px;
    font-size: 40px;
}

#hobbies .img-hobbie{
height: 250px;

}

#hobbies .img-hobbie img{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    transition: .1s;
}

#hobbies .img-hobbie img:hover{
    transform: translateY(-40px);
}

#hobbies .desc-hobbie{
    height: 180px;
    background: var(--primary-color);
    text-align: center;
    padding: 15px;
    color: #fff;
}

#hobbies .desc-hobbie h4{
    font-family: var(--tipografia-titulos);
    font-size: 20px;
}
#hobbies .desc-hobbie p{
    font-family: var(--tipografia-parrafos);
    font-size: 15px;
}


/* SECCION ESTUDIOS */

#estudios{
    width: 100%;
    background: var(--primary-color);
    padding: 80px 10px 100px 10px;
}

#estudios .sec{
    display: flex;
    padding: 15px;
    position: relative;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    font-family: var(--tipografia-parrafos);
}


#estudios .img-est{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}

#estudios img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s;  
}

#estudios img:hover{
    rotate: 360deg;
}

#estudios .txt#texto{
    padding: 0 10px 0 10px;
}

#estudios .txt h4{
    font-family: var(--tipografia-parrafos);
    font-size: 15px;
    color: #fff;
}

#estudios h2{
    font-family: var(--tipografia-titulos);
    font-size: 40px;
    padding-bottom: 40px;
    color: var(--terciary-color);
}


/* SECCION CONTACTO */

#contacto{
    width: 100%;
    font-size: 20px;
    background: url(../img/Frame\ 1.png);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--tipografia-titulos);
    color: var(--terciary-color);
}

#contacto .formulario{
    font-family: var(--tipografia-parrafos);
    width: 50%;
    margin: 0 auto;
    border: 2px solid  #000;
    text-align: center;
    color: #fff;
    padding: 30px;
    background: var(--primary-color);
}

#contacto input, textarea {
    width: 40%;
   background: var(--secondary-color);
   padding: 1px 10px;
   margin: 3px;

}

#contacto label{
padding: 10px;
}

#contacto button{
    background:var(--terciary-color);
    font-family: var(--tipografia-titulos);
    margin: 10px;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    border-color: transparent;
    transition: .5s;
    cursor: pointer;
 }

 #contacto button:hover{
    transform: scale(1.1);
    background: #7D4A2E;
    color: var(--terciary-color);
 }

 .modal-enviar{
    color: #000;
 }

 #contacto .redes{
    padding: 40px;
 }

 #contacto .git{
    margin: 0 auto;
    width: 70px;
    height: 70px;
 }

 #contacto .git img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
 }

 footer{
    background: #6c422b;
    font-family: var(--tipografia-parrafos);
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 30px;

 }









